<div class="cc-carousel">
    <div class="cc-container">
        <div class="cc-row">
            <div class="cc-col-lg-12">
                <div class="cc-hero-slider">
                    <div class="cc-prev-arrow"(click)="onPrev()">></div>
                    <ng-container *ngFor="let heroContent of heroContents; let i = index">
                    <div class="cc-hero-content" [ngClass]="{'cc-hide':activeIndex !== i}">
                        <h1>{{heroContent.title}}</h1>
                        <p>{{heroContent.content}}</p>
                        <button class="cc-btn cc-btn-primary">{{heroContent.button}}</button>
                    </div>
                    </ng-container>
                    <div class="cc-next-arrow" (click)="onNext()"><</div>
                </div>
            <div class="cc-dots">
                <ng-container *ngFor="let heroContent of heroContents; let i = index">
                <div class="cc-dot"  (click)="matchDot(i)"></div>
                </ng-container>
            </div>
        </div>
        </div>
    </div>
</div>